#container{width: 500px; margin: 30px auto; 
    border: 1px solid #222; padding: 20px;}
form ul li{list-style: none; margin: 10px;}
form #info label{width: 60px; float: left;}
.button{margin-top: 10px;}
.button input{width: 80px; height: 30px;}
